
@mixin mediumBorder {
    border-width: medium !important;
}

@mixin redback {
    background-color: rgb(243, 214, 214) !important;   
}

@mixin greenBack {
    background-color: rgb(216, 236, 216) !important;
}
.border-black{
    border: black;
    border-style: solid;
}
.rounded-border{
    border-radius: 1rem !important;
    border-width: 2px !important;
}
.incorrect-option{
    border-color: rgba(255, 0, 0, 0.699);
    @include mediumBorder();
    &:focus, &:active{
         @include redback();
    }    
    @include redback();   
}
.correct-option{
    @include mediumBorder();
    border-color: rgba(0, 128, 0, 0.705);
    &:focus, &:active{
        @include greenBack();
    }
    @include greenBack();
}

.no-pointer-event{
    pointer-events: none;
}

#questionContainer > div{
    background-color: #03a9f41f;
}
.background-white{
    background-color: white;
}

.large-font{
    font-size: large;
    font-weight: bold;
}
.larger-font{
    font-size: 2rem;
    font-weight: bolder;
    font-family: cursive;
    #score{
        color: #da2f2f;
        font-size: 3rem;
    }
}